{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Tech Watch!</h1>
    {% include 'Projet-2-Item/_technologicalWatchOfWeek.html.twig' %}
    {% include 'Projet-2-Item/_technologicalWatchRandom.html.twig' %}
    {% include 'Projet-2-Item/_technologicalWatchByDate.html.twig' %}
    {% include 'Projet-2-Item/_technologicalWatchByTrend.html.twig' %}
{% endblock %}
