{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Tech Watch!</h1>
    {% include 'techwatch_item/_articleOfWeek.html.twig' %}
    {% include 'techwatch_item/_articleRandom.html.twig' %}
    {% include 'techwatch_item/_articleByDate.html.twig' %}
    {% include 'techwatch_item/_articleByTrend.html.twig' %}
{% endblock %}
