{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Tech Watch!</h1>
    {% include 'techwatch_item/_articleOfWeek.html.twig' %}
    {% include 'techwatch_item/_carouselRandom.html.twig' %}
    {% include 'techwatch_item/_carouselByDate.html.twig' %}
    {% include 'techwatch_item/_carouselByTrend.html.twig' %}
{% endblock %}
