{% extends 'layout.html.twig' %}

{% block title %}Tendances{% endblock %}


{% block content %}
    <h2 class="title-articles-pages">Les mieux notés</h2>
    <div id="articles-by-date-page" class ="articles-by-date-page">
        {% for article in article_trend_view %}
            <div class="card card-article" style="width: 18rem;">
                <div class="card-body">
                    <a href="#" class="envoi vers user page">
                        <img src="{{ article.picture }}" class="user-picture" alt="user picture">
                    </a>
                    <a href="{{ article.article_url }}">
                        <img src="{{ article.image_url }}" class="card-img-top article-picture" alt="random picture">
                        <p class="card-title">{{ article.title|length > 30 ? article.title|slice(0, 30) ~ '...' : article.title  }}</p>
                    </a>
                    <a href="#" class="card-info-plus">Voir plus</a>
                </div>
                {% include 'techwatch_item/_card_buttons.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}


