{% extends 'layout.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block content %}
    <h2 class="title-articles-pages">Derniers articles publiés</h2>
    <div id="articles-by-date-page" class ="articles-by-date-page">
        {% for article in article_date_view %}
            {% include 'techwatch_item/_article_card.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}


