{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h2 class="title-form">Contactez-Nous</h2>
    <form action="" method="post" class="form-contact">
        <div class="form-group col-lg-3">
            <label for="nom" class="form-text">Entrez votre nom</label>
            <input type="text" class="form-control" id="nom" placeholder="Votre nom">
        </div>
        <div class="form-group col-lg-3">
            <label for="exampleFormControlInput1" class="form-text">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group col-lg-3">
            <label for="exampleFormControlTextarea1" class="form-text">Entrez votre message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Votre message"></textarea>
        </div>
            <button type="submit" class="btn btn-form-contact">Envoyer</button>
    </form>

    <h2 class="title-form">Nos coordonnées</h2>
    <p class="form-text-information">Wild Code School Bordeaux</p>
    <p class="form-text-information">9 Allée Serr, 33100 Bordeaux</p>

{% endblock %}