<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/style.css">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<title>Formulaire d'identification</title>

<img class="fond" src="">
<div class="container">
    <div class="img">
        <img src="img/computer.svg">
    </div>
    <div class="login-content">
        <form action="" method="post">

            <img src="img/avatar.svg">

            <h2 class="title">Identification</h2>
            <div class="input-div user">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input type="text" class="input">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" class="input">
                </div>
            </div>
            <input type="submit" class="btn-check" value="Login">
        </form>
    </div>
</div>
<script type="text/javascript" src="/assets/js/main.js"></script>
