/* register & connexion form start*/
.invalid-feedback {
    font-size: 100%;
}

.register-form {
    width: 360px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form {
    width: 360px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fond {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.fa {
    font-family: FontAwesome;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img img {
    width: 500px;
}


.login-content img {
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid var(--font-color);
}

.login-content .input-div {
    margin-top: 0;
}

.i {
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div > div {
    position: relative;
    height: 45px;
}

.input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--secondary-color);
    font-size: 18px;
    transition: .3s;
}

.input-div:before, .input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--form-color);
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before, .input-div.focus:after {
    width: 50%;
}

.input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i > i {
    color: var(--form-color);
}

.input-div > div > input {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: var(--form-color);
    font-family: var(--primary-font);
}

.input-div.pass {
    margin-bottom: 4px;
}


.btn-check {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #55efc4;
    background-image: linear-gradient(315deg, #55efc4 0%, #000000 74%);
    background-size: 200%;
    font-size: 1.2rem;
    color: var(--font-color);
    font-family: var(--primary-font);
    text-transform: uppercase;
    margin: 2rem 0;
    transition: .5s;
}
.btn-check:hover {
    background-position: right;
}


@media screen and (max-width: 1050px) {
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form{
        width: 290px;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .img {
        display: none;
    }

    .wave {
        display: none;
    }

    .login-content {
        justify-content: center;
    }
}
/* register & connexion form end */

/* articles by date page start */
.articles-by-date-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title-articles-pages {
    display: flex;
    font-family: var(--secondary-font);
    color: var(--font-color);
    margin-left: 1em;
    margin-top: 3em;
}
/* articles by date page end */

/* voir-plus page - start */
.voir-plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid var(--card-color);
    border-radius: 5%;
    margin: 5em auto;
    width: 50em;
    height: fit-content;
    padding: 2em;
    text-align: center;
}

.voir-plus-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.voir-plus-picture {
    width: 30em;
    margin-bottom: 2em;
}

.voir-plus-text {
    color: var(--font-color);
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .voir-plus {
        width: 100%;
    }
    .voir-plus-picture {
        width: 10em;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .voir-plus {
        width: 100%;
    }
    .voir-plus-picture {
        width: 10em;
    }
}
/* voir-plus page - end */

/* profile - page start */
.profile-title {
    font-family: var(--secondary-font);
    color: var(--font-color);
    font-size: 2em;
    margin-bottom: 2em;
}
/* profile - page end */

/* add article form start */
/*
.add-article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 4em auto;
}

 */

@media screen and (min-width: 300px) and (max-width: 800px) {
    .add-article {
        width: fit-content;
    }
    .add-description {
        width: 60%;
    }
}
/* add article form end */

/* delete user form start */
.success {
    font-family: var(--primary-font);
    color: green;
}
/* delete user form end */

/* css for create techwatch start*/
.amber-textarea textarea.md-textarea{
    border: 3px solid silver;
    background: transparent;
    color: var(--form-color)
}


.amber-textarea textarea.md-textarea:focus:not([readonly]) {
    border: 3px solid var(--form-color);
    box-shadow: 0 1px 0 0 var(--form-color);

}
/* css for create techwatch end*/
