<h2 class="title-articles-homepage-random">Articles aléatoires</h2>
<div id="random-view-mobile">
    {% for article in all_article_random %}
        {% include 'techwatch_item/_article_card.html.twig' %}
    {% endfor %}
</div>

