<a href="{{ article_of_week.article_url }}">
    <div class="card bg-dark text-white">
        <img src="{{ article_of_week.image_url }}" class="card-img" alt="technological watch of the week">
        <div class="card-img-overlay">
            <div>
                <h1 class="card-title">{{ article_of_week.title }}</h1>
            </div>
        </div>
    </div>
</a>
{% include 'techwatch_item/_card_buttons.html.twig' %}