<div id="random-view-mobile">
    <div class="random-mobile-view">
        <h2 class="title-articles-homepage-random">Articles aléatoires</h2>
            {% for article in article_random %}
                {% include 'techwatch_item/_article_card.html.twig' %}
            {% endfor %}
    </div>
</div>

