<div id="carouselArticleByDate" class="carousel slide" data-ride="carousel" data-interval="0">
    <h2 class="title-articles-homepage">Derniers articles publiés</h2>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-box">
                {% for article in article_date|slice(0,4) %}
                    {% include 'techwatch_item/_article_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-box">
                {% for article in article_date|slice(4,4) %}
                    {% include 'techwatch_item/_article_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-box">
                {% for article in article_date|slice(8,4) %}
                    {% include 'techwatch_item/_article_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-box">
                {% for article in article_date|slice(12,4) %}
                    {% include 'techwatch_item/_article_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-box">
                {% for article in article_date|slice(16,4) %}
                    {% include 'techwatch_item/_article_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselArticleByDate" data-slide-to="0" class="active"></li>
        <li data-target="#carouselArticleByDate" data-slide-to="1"></li>
        <li data-target="#carouselArticleByDate" data-slide-to="2"></li>
        <li data-target="#carouselArticleByDate" data-slide-to="3"></li>
        <li data-target="#carouselArticleByDate" data-slide-to="4"></li>
    </ol>
    <a class="carousel-control-prev" href="#carouselArticleByDate" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselArticleByDate" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>