<div class="box-icon">
    {% include 'techwatch_item/_like.html.twig' %}
    {% include 'techwatch_item/_comment.html.twig' %}
    {% if session.user.is_admin %}
        {% include 'techwatch_item/_remove.html.twig' %}
    {% endif %}
</div>