<h2 class="titre-affichage-articles-accueil">Les mieux notés</h2>
<div id="carouselArticleByTrend" class="carousel slide" data-ride="carousel" data-interval="0">
    <ol class="carousel-indicators">
        <li data-target="#carouselArticleByTrend" data-slide-to="0" class="active"></li>
        <li data-target="#carouselArticleByTrend" data-slide-to="1"></li>
        <li data-target="#carouselArticleByTrend" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-box">
                {% for article in article_trend|slice(0,5) %}
                    {% include 'techwatch_item/_article_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-box">
                {% for article in article_trend|slice(0,5) %}
                    {% include 'techwatch_item/_article_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-box">
                {% for article in article_trend|slice(0,5) %}
                    {% include 'techwatch_item/_article_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselArticleByTrend" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselArticleByTrend" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>