<div>
    <a href="article/getComment/{{ article.article_id }}">
        <button type="button" class="btn btn-primary btn-lg">
            <i class="fa fa-commenting" aria-hidden="true"></i>
        </button>
    </a>
</div>