<footer>

    <div class="contenu-footer">
        <div class="bloc footer-contact">
            <h3>Contact</h3>
            <p>Wild Code School</p>
            <p>www.wildcodeschool.com</p>
            <p>9 Allée Serr, 33100 Bordeaux</p>
        </div>

        <div class="bloc footer-medias">
            <h3>Nos réseaux</h3>
            <ul class="liste-media">
                <li>
                    <a href="https://twitter.com/WildSchool_Bdx" class="twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/wildcodeschoolofficial/" class="insta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/WildCodeSchool" class="facebook">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/guillaumebdx/bordeaux-202009-php-techwatch.git" class="github">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw" class="youtube">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</footer>
