<footer>

    <div class="contenu-footer">

        <div class="bloc footer-services">
            <h3>Nos Services</h3>
            <ul class="liste-services">
                <li><a href="#">Herbegement</a></li>
                <li><a href="#">Nom de domaines</a></li>
                <li><a href="#">E-commerce</a></li>
                <li><a href="#">Machine Learning</a></li>
                <li><a href="#">Finances</a></li>
                <li><a href="#">Start-up</a></li>
            </ul>
        </div>

        <div class="bloc footer-contact">
            <h3>Restons en contact</h3>
            <p>55-55-55-55-55</p>
            <p>supportclient@contact.com</p>
            <p>6 rue de l'invention, Parie VII, 75007</p>
        </div>

        <div class="bloc footer-medias">
            <h3>Nos réseaux</h3>
            <ul class="liste-media">
                <li>
                    <a href="https://twitter.com/WildSchool_Bdx" class="twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/wildcodeschoolofficial/" class="insta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/WildCodeSchool" class="facebook">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/guillaumebdx/bordeaux-202009-php-techwatch.git" class="github">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw" class="youtube">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</footer>
