<div>
    <form action="/article/removeArticle" method="post">
        <input type="hidden" name="articleId" value="{{ article.article_id }}">
        <button class="btn btn-primary btn-lg">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
    </form>
</div>