{% extends 'layout.html.twig' %}

{% block title %}
    Formulaire d'identification
{% endblock %}

{% block content %}
    <img class="fond" src="/assets/images/fond.png">
    <div class="container">
        <div class="img">
            <img src="/assets/images/computer.svg">
        </div>
        <div class="login-content">
            <form action="/user/check" method="post">

                <img src="/assets/images/avatar.svg">

                <h2 class="title">Identification</h2>
                <div class="input-div user">
                    <div class="i">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" name="username" class="input">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input type="password" name="password" class="input">
                    </div>
                </div>
                <input type="submit" class="btn-check" value="Login">
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/assets/js/main.js"></script>
{% endblock %}
