<a href="{{ articleOfWeek.article_url }}">
    <div class="card bg-dark text-white card-of-the-week">
        <img src="{{ articleOfWeek.image_url }}" class="card-img" alt="technological watch of the week">
        <div class="card-img-overlay">
            <div>
                <h1 class="card-title">{{ articleOfWeek.title }}</h1>
            </div>
        </div>
    </div>
</a>
{% include 'Projet-2-Item/_card_buttons.html.twig' %}