{{ dump(articleOfWeek) }}
<a href="{{ articleOfWeek.article_url }}">
    <div class="card bg-dark text-white">
        <img src="{{ articleOfWeek.image_url }}" class="card-img" alt="technological watch of the week">
        <div class="card-img-overlay">
            <div>
                <h1 class="card-title">{{ articleOfWeek.title }}</h1>
            </div>
        </div>
    </div>
</a>
<div class="box-icon">
    {% include 'Projet-2-Item/_like.html.twig' %}
    <div>
        <a href="#">
            <button type="button" class="btn btn-primary btn-lg">
                <i class="fa fa-commenting" aria-hidden="true"></i>
            </button>
        </a>
    </div>
</div>