<h2 class="titre-affichage-articles-accueil">Les mieux notés</h2>
<div class = 'carouselHome'>
    {% for article in articleTrend %}
        <div class="card card-article" style="width: 18rem;">
            <a href="{{ article.article_url }}">
                <div class="card-body">
            <img src="{{ article.image_url }}" class="card-img-top" alt="image random">
                <h5 class="card-title">{{ article.title }}</h5>
            </a>
                <p class="card-description">{{ article.description }}</p>
            </div>
            <div class="box-icon">
                {% include 'Projet-2-Item/_like.html.twig' %}
                {% include 'Projet-2-Item/_comment.html.twig' %}
            </div>
        </div>
    {% endfor %}
</div>